/* HTML: <div class="rounded-tab"></div> */
.rounded-tab {
    --r: 25px;
    /* control the radius */

    line-height: 1.8;
    /* control the height */
    padding-inline: .5em;
    border-inline: var(--r) solid #0000;
    border-radius: calc(2*var(--r)) calc(2*var(--r)) 0 0/var(--r);
    mask:
        radial-gradient(var(--r) at var(--r) 0, #0000 98%, #000 101%) calc(-1*var(--r)) 100%/100% var(--r) repeat-x,
        conic-gradient(#000 0 0) padding-box;
    background: #bd5532 border-box;
    /* border-box is needed for a gradient coloration */
    width: fit-content;
}
