@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

.EffraRegular-400 {
  font-family: "EffraRegular";
  font-weight: 400;
  src: url("https://api.center-phone.com/v1/storage/buckets/694c1573001db670c6e6/files/694db3a1003327ebc2ad/view?project=694beec300098b09a52c") format("woff2");
  font-style: normal;
  font-display: swap;
}

.EffraBold-700 {
  font-family: 'EffraBold';
  src: url('https://api.center-phone.com/v1/storage/buckets/694c1573001db670c6e6/files/694db3a1003327ebc2ad/view?project=694beec300098b09a52c') format('woff2');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #161a1d;
  --card: #fafafa;
  --card-foreground: #e0486e;
  --popover: #ffffff;
  --popover-foreground: #161a1d;
  --primary: #615fff;
  --primary-foreground: #ffffff;
  --secondary: #615fff;
  --secondary-foreground: #ffffff;
  --muted: #e5e5e6;
  --muted-foreground: #161a1d;
  --accent: #e7ecf2;
  --accent-foreground: #000000;
  --destructive: #ca4b53;
  --destructive-foreground: #ffffff;
  --border: #e4e9ec;
  --input: #f8f9f9;
  --ring: #4897c7;
  --chart-1: #4894c7;
  --chart-2: #25936e;
  --chart-3: #cea851;
  --chart-4: #399d66;
  --chart-5: #ba4a6c;
  --sidebar: #3584e4;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #9141ac;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e7ecf2;
  --sidebar-accent-foreground: #f5c211;
  --sidebar-border: #e3e8eb;
  --sidebar-ring: #3d3846;
  --font-sans: .EffraRegular, ui-sans-serif, sans-serif;
  --font-serif: Amiri, ui-serif, serif;
  --font-mono: Cousine, ui-monospace, monospace;
  --radius: 0.825rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #4897c7;
  --shadow-2xs: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-xs: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-sm: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-md: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-lg: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-xl: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-2xl: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: #000000;
  --foreground: #e8e9e9;
  --card: #18191b;
  --card-foreground: #d9d9d9;
  --popover: #000000;
  --popover-foreground: #e8e9e9;
  --primary: #615fff;
  --primary-foreground: #000000;
  --secondary: #615fff;
  --secondary-foreground: #000000;
  --muted: #181818;
  --muted-foreground: #747678;
  --accent: #231f1f;
  --accent-foreground: #fabf47;
  --destructive: #ca4b53;
  --destructive-foreground: #ffffff;
  --border: #252627;
  --input: #273037;
  --ring: #4897c7;
  --chart-1: #4894c7;
  --chart-2: #25936e;
  --chart-3: #cea851;
  --chart-4: #399d66;
  --chart-5: #ba4a6c;
  --sidebar: #31536c;
  --sidebar-foreground: #d9d9d9;
  --sidebar-primary: #4897c7;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #0f1b24;
  --sidebar-accent-foreground: #4693c6;
  --sidebar-border: #3c4349;
  --sidebar-ring: #4897c7;
  --font-sans: .EffraRegular, ui-sans-serif, sans-serif;
  --font-serif: Amiri, ui-serif, serif;
  --font-mono: Cousine, ui-monospace, monospace;
  --radius: 0.825rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #4897c7;
  --shadow-2xs: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-xs: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-sm: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-md: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-lg: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-xl: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.6772 53.1381% 53.1373% / 0.00);
  --shadow-2xl: 0px 1px 0px 0px hsl(202.6772 53.1381% 53.1373% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
